<dl>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <dt>Permissions</dt>
  <dd><%= @user.permissions %></dd>
  <dt>Organisation slug</dt>
  <dd><%= @user.organisation_slug %></dd>
  <dt>Organisation content id</dt>
  <dd><%= @user.organisation_content_id %></dd>
</dl>

<ul>
<% @forms.each do |form| %>
<li>
  <a href="<%= ENV['DESIGNER_URL'] %>app/designer/<%= form["Key"] %>?token=<%= @token %>"><%= form["DisplayName"] %></a>
</li>
<% end %>
</ul>
